/* Base image container class */
.image-container {
    /* positioning of div */
    position: absolute;
    top: 40%;
    left: 82%;
    transform: translate(-50%, -50%);

    /* size of div */
    min-height: 60%;
    max-height: 64%; /* min-height + 2*padding-top + 2*padding-bottom */
    max-width: 30%;
    min-width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;

    /* border */
    border: 5px solid;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Specific class for overwriting CSS */
.malware-image-container {
    border-image: linear-gradient(to left, purple, red);
    border-image-slice: 1;
    left: 18%;
}

/* Specific class for overwriting CSS */
.antivirus-image-container {
    border-image: linear-gradient(to right, green, blue);
    border-image-slice: 1;
    top: 27.8%;
    min-height: 40%; /* This will override the min-height from .image-container */
    max-height: 44%; /* This will override the max-height from .image-container */
}

.image {
    width: auto;
    max-width: 40%;
    border-radius: 5px;
}

.robot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-half-size {
    transform: scale(0.4) translate(20%, 65%);
}

.image-make-tiny {
    transform: scale(0.2) translate(20%, 185%);
}

/* iphone positioning */
.move-to-bottom-left {
    position: absolute;
    bottom: 20%;
    left: 4%;
}

.move-to-bottom-right {
    position: absolute;
    bottom: 20%;
    right: 4%;
}
