/* Base image container class */
.password .image-container {
    /* positioning of div */
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex; /* Add this to center the gif */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    /* size of div */
    min-height: 60%;
    max-height: 64%; /* min-height + 2*padding-top + 2*padding-bottom */
    max-width: 30%;
    min-width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;

    /* border */
    border: 5px solid;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    /* Add some transition for a smooth hover effect */
    transition: transform 0.3s ease-in-out;
}

/* Add a hover effect to the image container */
.password .image-container:hover {
    transform: translate(-50%, -50%) scale(1.05); /* Slightly scale up the image container */
    transition: transform 0.3s ease-in-out; /* Add transition here */
}

/* Specific class for villain gif */
.password .villain-image-container {
    top: 40%;
    left: 20%;
    border-color: #ff0000; /* Red border */
}

/* Specific class for password gif */
.password .password-image-container {
    top: 40%;
    left: 80%;
    border-color: #0000ff; /* Blue border */
}

/* Specific class for pwdmanager1 gif */
.password .pwdmanager1-image-container {
    top: 40%;
    left: 20%; /* Adjust this value to position the gif on one side */
    border-color: #ff0000; /* Adjust the border color as needed */
}

/* Specific class for pwdmanager2 gif */
.password .pwdmanager2-image-container {
    top: 40%;
    left: 80%; /* Adjust this value to position the gif on the other side */
    border-color: #0000ff; /* Adjust the border color as needed */
}

.password .image {
    width: auto;
    max-width: 80%; /* Increase this to make the gifs larger */
    border-radius: 5px;
}

.password .robot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.password .face {
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%, -50%);
    width: 25%;
    pointer-events: none;
    z-index: 100000;
}

.password-container {
    position: relative;
    width: 20%;
    left: 40pc;
    border: 4px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 0;
    background-color: rgba(221, 65, 213, 0.308);
    box-shadow: inset 0 -8px 7px 2px rgba(0, 0, 0, 0.3);
}

.password-field, .strength-field {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Press Start 2P Regular', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.strength-bar {
    height: 20px;
    background-color: #ff0000;
    transition: width 0.5s ease-in-out;
    border-radius: 10px;
    flex-grow: 1;
    margin-left: 10px;
}

.password-container label {
    font-weight: bold;
    text-shadow:
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.password-container input {
    border: 2px solid rgb(75, 22, 22);
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Press Start 2P Regular', sans-serif;
    font-weight: bold;
    color: black;
}

.update-button {
    position: absolute;
    left: 47.5%;
    transform: translateX(-50%);
    top: auto;
    padding: 15px 30px;
    width: 10%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(108, 219, 117);
    font-family: 'Press Start 2P Regular', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-shadow:
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    cursor: pointer;
    box-shadow: inset 0 -8px 7px 2px rgba(0, 0, 0, 0.3);
}

.update-button:hover {
    background-color: #45a049;
}

.update-button:disabled {
    background-color: #cccccc; /* gray */
    cursor: not-allowed;
}


  
  
