/* Base image container class */
.Email .image-container {
    /* positioning of div */
    position: absolute;
    top: 40%;
    left: 82%;
    transform: translate(-50%, -50%);

    /* size of div */
    min-height: 60%;
    max-height: 64%; /* min-height + 2*padding-top + 2*padding-bottom */
    max-width: 30%;
    min-width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;

    /* border */
    border: 5px solid;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Email .bg1{
    position: absolute;
    right: 7.5%;
    width: 85%;
    height: 500px;
    border-radius: 15px;
    margin-top: 1%;
    z-index: 0;
}

.Email .bg2{
    position: absolute;
    width: 85%;
    height: 450px;
    right: 7.5%;
    border-radius: 15px;
    margin-top: -1%;
    z-index: 0;
}

.Email .lessop{
    opacity: 0.5;
}

.Email .sorting-image-container {
    border-color: black;
    background-color: rgb(0, 0, 0, 0.3);
    top: 25%;
    min-height: 30%; /* This will override the min-height from .image-container */
    max-height: 44%; /* This will override the max-height from .image-container */
}

.Email .example-image-container {
    position: absolute;
    border-color: black;
    background-color: rgb(0, 0, 0, 0.3);
    top: 40%;
    left: 50%;
    min-height: 30%; 
    max-height: 44%; 
    z-index: 100;
}
.Email .Qs-image-container {
    position: absolute;
    border-color: black;
    background-color: rgb(0, 0, 0, 0.3);
    top: 30%;
    left: 30%;
    width: 150px;
    min-height: 20%; 
    z-index: 100;
}
.Email .example-image-container img,
.Email .Qs-image-container img{
    width: 95%;
}


.Email .image {
    width: auto;
    max-width: 40%;
    border-radius: 5px;
}

.Email .displays{
    position: absolute;
    border: 5px solid black;
    border-radius: 10px;
    top: 20%;
    left: 22%;
    width: 250px;
    height: 250px;
    z-index: 100000;
}
.Email .displays2{
    position: absolute;
    border: 5px solid black;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    top: 15%;
    left: 13%;
    width: 550px;
    height: 350px;
}

.Email .clip{
    position: absolute;
    top: 20%;
    left: 62%;
    width: 250px;
    height: 250px;
    z-index: 100000;
}

.Email .inspect{
    position: absolute;
    border: 5px solid black;
    border-radius: 10px;
    opacity: 1.0;
    top: 2%;
    left: 28%;
    width: 45%;
    height: 470px;
}
.Email .inspect2{
    position: absolute;
    border: 5px solid black;
    border-radius: 10px;
    opacity: 1.0;
    top: 12%;
    left: 10%;
    width: 35%;
    height: 250px;
}
.Email .inspect3{
    position: absolute;
    border: 5px solid black;
    border-radius: 10px;
    opacity: 1.0;
    top: 20%;
    left: 48%;
    width: 43%;
    height: 150px;
}

.Email .arrow{
    position: absolute;
    width: 10%;
    z-index: 100000;
}
.Email .arrow2{
    position: absolute;
    width: 5%;
    left: 15%;
    top: 30%;
    z-index: 100000;
}


.Email .magnify{
    position: absolute;
    top: 20%;
    left: 77%;
    padding: 5px;
    border: 5px solid black;
    background-color: rgb(0, 0, 0, 0.3);
    width: 10%;
    z-index: 100000;
}

.Email .mailman {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.Email .mailmanalt {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    width: 150px;
    filter: brightness(125%);
    z-index: 1;
}

.Email .mailmanalt2 {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 110px;
    filter: brightness(90%);
    z-index: 1;
}

.Email .mailmanalt3 {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 150px;
    filter: brightness(90%);
    z-index: 1;
}

.Email .face {
    position: absolute;
    top: 80%;
    left: 18%;
    transform: translate(-50%, -50%);
    width: 220px;
    z-index: 100000;
}

.Email .door {
    position: absolute;
    right: 61.5%;
    top: 22%;
    width: 26%;
    height: 270px;
    transition: background-color 0.3s ease; 
}

.Email .door:hover {
    filter: brightness(75%); 
}

.Email #key-move-div{
    position: absolute;
    top: 33%;
    left: 43%;
}

.Email .key {
    width: 230px;
    /* Apply a filter to create the glow effect */
    filter: drop-shadow(0 0 10px gold) drop-shadow(0 0 20px gold);
    /* Animation */
    animation: glow 2s infinite;
    cursor: pointer;
}

.Email .key:hover {
    width: 250px;
    left: 45.5%;
}

.Email .laptop{
    position: absolute;
    top: 20%;
    left: 22%;
    width: 300px;
    height: 200px;
    z-index: 100000;
}

.Email .inputForm{
    position: absolute;
    opacity: 1.0;
    left: 20%;
    top: 47%;
    border-radius: 10px;
    padding: 25px;
    padding-right: 170px;
    background-color: blueviolet;
    
}
.Email .inputForm fieldset{
    border: 2px solid #00ff00;
    border-radius: 10px;
    padding: 5px;
    text-transform: capitalize;
}
.Email .inputForm label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff; 
}
.Email .inputForm button[type="submit"]{
    padding: 15px 15px;
    background-color: rgb(219, 193, 108); 
    font-family: 'Press Start 2P Regular', sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    cursor: pointer;
    box-shadow: inset 0 -8px 7px 2px rgba(0, 0, 0, 0.3);
}
.outputBox {
    position: absolute;
    top: 51%;
    left: 33.5%;
    align-items: center;
    justify-content: center;
    min-width: 50px; 
    height: 50px; 
    margin-left: 20px; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
}
.outputBox .output {
    position: relative;
    bottom: 85%;
    font-size: 40px;
    font-weight: bolder;
    color: green; 
    
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.Email .image-carousel{
    position: absolute;
    left: 22%;
    top: 2%;
    background-color: rgba(137, 43, 226, 0.8);
    border-radius: 10px;
    width: 55%;
    height: 65%;
    padding: 0 10px;
}
.Email .carousel-content{
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    height: 82%;
}

.Email .carousel-button{
    margin-top: 10px;
    padding: 15px 15px;
    background-color: green; 
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Press Start 2P Regular', sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    box-shadow: inset 0 -8px 7px 2px rgba(0, 0, 0, 0.3);
}
/* Define the keyframes for the glowing effect */
@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px gold) drop-shadow(0 0 20px gold);
    }
    50% {
        filter: drop-shadow(0 0 15px gold) drop-shadow(0 0 30px gold);
    }
    100% {
        filter: drop-shadow(0 0 10px gold) drop-shadow(0 0 20px gold);
    }
}


