@font-face {
    font-family: 'Press Start 2P Regular';
    src: url('../../../public/PressStart2P-Regular.ttf') format('truetype');
    /* Add additional formats if available */
    font-weight: normal;
    font-style: normal;
}

@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 55%;
    }
}

@keyframes shrink {
    0% {
        width: 55%;
    }
    100% {
        width: 0;
    }
}

.dialogue-box {
    overflow: hidden;
    position: absolute;
    height: calc(220px * var(--scale));
    background-color: rgba(47, 54, 48, 0.4);
    border: calc(5px * var(--scale)) solid rgba(66, 189, 103, 0.5);
    border-radius: calc(25px * var(--scale));
    box-shadow: 0 0 calc(10px * var(--scale)) black;
    padding: calc(20px * var(--scale));
    box-sizing: border-box;
    color: white;
    font-family: 'Press Start 2P Regular', sans-serif;

    /* Positioning */
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);

    animation: expand 0.5s ease-out forwards;
    z-index: 100;
}

.dialogue-box.closing {
    animation: shrink 0.5s ease-in forwards;
}

.hidden {
    display: none;
}

.dialogue-box button {
    position: absolute;
    font-size: calc(var(--scale) * 12px);
    width: calc(115px * var(--scale));
    bottom: calc(20px * var(--scale));
    padding: calc(15px * var(--scale)) calc(30px * var(--scale));
    border: calc(2px * var(--scale)) solid white;
    border-radius: calc(10px * var(--scale));
    background-color: rgb(108, 219, 117);
    font-family: 'Press Start 2P Regular', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-shadow:
      calc(-1px * var(--scale)) calc(-1px * var(--scale)) 0 white,  
      calc(1px * var(--scale)) calc(-1px * var(--scale)) 0 white,
      calc(-1px * var(--scale)) calc(1px * var(--scale)) 0 white,
      calc(1px * var(--scale)) calc(1px * var(--scale)) 0 white;
    cursor: pointer;
    box-shadow: inset 0 calc(-8px * var(--scale)) calc(7px * var(--scale)) calc(2px * var(--scale)) rgba(0, 0, 0, 0.3);
}

.dialogue-box p {
    font-size: calc(var(--scale) * 12px);
    line-height: 1.7;
    text-shadow:
      calc(-1px * var(--scale)) calc(-1px * var(--scale)) 0 black,  
      calc(1px * var(--scale)) calc(-1px * var(--scale)) 0 black,
      calc(-1px * var(--scale)) calc(1px * var(--scale)) 0 black,
      calc(1px * var(--scale)) calc(1px * var(--scale)) 0 black;
  }
  
.dialogue-box button:disabled {
    background-color: rgba(128, 128, 128, 0.801);
    color: rgb(58, 58, 58);
}

.dialogue-box button:nth-child(2) {
    left: 20px;
}

.dialogue-box button:nth-child(3) {
    right: 20px;
}
