/* Import the Press Start 2P Regular font */
@font-face {
    font-family: 'Press Start 2P Regular';
    src: url('../../../public/PressStart2P-Regular.ttf') format('truetype');
    /* Add additional formats if available */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply the font to specific elements or globally */
  .ps2p {
    font-family: 'Press Start 2P Regular', sans-serif;
    color: white
  }
  .form-nobg {
    background: none;
  }
  .text-L {
    font-size: 80px; /* Adjust the font size to your preference */
    
  }
  .text-L2 {
    font-size: 50px; /* Adjust the font size to your preference */
    
  }